.project-container {
  flex-basis:250px;
  flex-grow: 1;
  float:left;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  padding:5px;
  margin:8px;
  min-width:100px;
}

.project-list-container {
  border-top:2px solid lightgray;
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  height: calc(100vh - 255px);
  overflow-y:scroll;
  -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.20);
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.20);
}

.project-list-headline {
  height:46px;
  padding:5px;
  padding-left:10px;
}

.project-list-headline__headline {
  font-size: 22px;
  font-family: 'EB Garamond', serif;
  margin-left: 10px;
  margin-right: 14px;
}
