<div class="article-list">
  <accordion>
    <!--accordion-group #group>
      <div accordion-heading>
        I can have markup, too!
        <i class="pull-right float-xs-right glyphicon"
           [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
      </div>
      This is just some content to illustrate fancy headings.
    </accordion-group-->
    <accordion-group #group *ngFor="let article of articles" class="article-list__article">
      <div accordion-heading>
        <span class="article-headline__title">{{article.headline}}</span>
        <span class="article-headline__date">- {{formatDate(article.date)}}</span>
        <span class="function-icon glyphicon glyphicon-trash fr" (click)="deleteArticle(article)"></span>
        <span class="function-icon edit-pen glyphicon glyphicon-pencil fr" (click)="editArticle(article)"></span>
        <span *ngFor="let skill of article.getEmbedded('skills')"
              class="skill-badge fr"
              [ngStyle]="{'background-color':skill.color}">{{skill.name}}</span>
      </div>
      <div class="ql-editor" [innerHTML]="article.text"></div>
    </accordion-group>
  </accordion>
</div>
