.skill {
  padding:10px;
  margin:5px;
  border:1px solid lightgray;
}
.skill a {
  color: #6e6e6e;
  cursor:pointer;
}
.skill a:hover {
  cursor:pointer;
}

.skill:hover {
  background-color: #f0f0fe;
}
.skill.highlight {
  background-color: #e0e0e8;
}
.skill__color {
  width:calc(10% - 5px);
}
.skill__name {
  width:calc(90% - 5px);
}
