/* You can add global styles to this file, and also import other style files */
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

body .knowledge-chest {
  font-family: 'Montserrat', sans-serif;
  color: #474747;
}

body .knowledge-chest .delete-cross {
  font-family: sans-serif;
}

.fl {
  float: left;
}

.fr {
  float:right;
}

.cp {
  cursor: pointer;
}

.ib {
  display:inline-block;
}

.col.p0 {
  padding:0;
}

/* TODO: this is hacky!! */
.project-detail-page .skill-section .skill-list {
  height: calc(100vh - 66px);
}

.knowledge-chest .modal-content {
 border-radius: 0;
}

.knowledge-chest .panel-default>.panel-heading{
  background-color:#fdfdfd;
  transition:.1s;
}

.knowledge-chest p {
  margin:0;
}

.knowledge-chest .panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.knowledge-chest .panel-group .panel {
  border-radius: 0;
  margin-bottom: 5px;
}

.knowledge-chest .panel-default>.panel-heading:hover {
  background-color: #f0f0fe;
}

.knowledge-chest .skill-detail-page .project-list-container {
  height: calc(100vh - 70px);
}

.calendar .cal-month-view .cal-cell-top {
  min-height: 15px;
  line-height:1;
  font-size:14px;
  width:70px;
  text-align: right;
}

.calendar .cal-month-view .cal-events {
  min-height: 15px;
  color: red;
  line-height:1;
  font-size:10px;
  width:calc(100% - 70px);
}

.calendar .calendar-article-dot {
  border:1px solid black;
}

.calendar .cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size:1em;
  margin:5px;
}

.calendar .cal-month-view .cal-day-cell .cal-day-number {
  font-size:1em;
  margin:5px;
}

.calendar .cal-month-view .cal-day-cell {
  min-height:30px;
}

.calendar .cal-month-view .cal-day-badge {
  margin:0;
  margin-left:5px;
  margin-top:5px;
  text-align:right;
}

.calendar .cal-month-view .cal-cell {
  flex-direction: row-reverse;
}

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3357ab");


@font-face {font-family: 'BornReadySlanted-Regular';src: url('assets/fonts/3357AB_0_0.eot');src: url('assets/fonts/3357AB_0_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3357AB_0_0.woff2') format('woff2'),url('assets/fonts/3357AB_0_0.woff') format('woff'),url('assets/fonts/3357AB_0_0.ttf') format('truetype');}


@font-face {font-family: 'BornReadyUpright-Regular';src: url('assets/fonts/3357AB_1_0.eot');src: url('assets/fonts/3357AB_1_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3357AB_1_0.woff2') format('woff2'),url('assets/fonts/3357AB_1_0.woff') format('woff'),url('assets/fonts/3357AB_1_0.ttf') format('truetype');}


@font-face {font-family: 'BornReady-Regular';src: url('assets/fonts/3357AB_2_0.eot');src: url('assets/fonts/3357AB_2_0.eot?#iefix') format('embedded-opentype'),url('assets/fonts/3357AB_2_0.woff2') format('woff2'),url('assets/fonts/3357AB_2_0.woff') format('woff'),url('assets/fonts/3357AB_2_0.ttf') format('truetype');}
